html {
font-size: 1.2em;
font-family: "Palatino Linotype", "Palatino", "Times New Roman",
             "Microsoft JhengHei", "Microsoft YaHei Light", "Apple LiSung Light",
             sans-serif;
color: black;
background-color: lightgray;
text-align: center;
}

a {
font-size: 1rem;
line-height: 1.5rem;
letter-spacing: 1px;
text-decoration: none;
color: black;
}
a:hover {
text-decoration: underline;
color: brown;
}

.b {
display: block;
font-size: 1rem;
text-align: left;
vertical-align: top;
/*background-color: #ECE9D8;*/
border: 1px solid gray;
border-radius: 4px;
width: 30rem;
min-width: 30rem;
max-width: 30rem;
overflow: hidden;
margin: .5rem auto .5rem auto;
}

.t {
display: table-cell;
font-size: 1.2rem;
font-weight: bold;
letter-spacing: 1.5px;
color: lightgray;
background-color: black;
background-image: linear-gradient(45deg, rgb(64,64,64), rgb(96,96,96));
text-align: center;
vertical-align: middle;
line-height: 1.5rem;
width: 13rem;
min-width: 13rem;
max-width: 13rem;
overflow: hidden;
}

img {
display: block;
filter: opacity(50%) invert(100%);
margin: 0 auto .25em auto;
}

.l {
display: table-cell;
font-size: 1rem;
text-align: left;
background-color: #EFEFEF;
height: auto;
width: 100%;
margin: 0;
padding: .5rem .75rem .5rem .75rem;
}

input {
font-family: sans-serif;
font-size: 1.2rem;
color: brown;
background-color: transparent;
border: 1px dotted gray;
margin: 0 auto 0 auto;
padding: 0;
width: 100%;
}

iframe {
display: block;
margin: 0 auto 0 auto;
width: 560;
height: 315;
border: none;
overflow: hidden;
}
